<!DOCTYPE html>
<html>
  <head>
    <title>What Dessert Should You Make? </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <a target= _blank href="<%=@desserts[0][:link]%>"><img src="<%=@desserts[0][:image]%>" width="500" height="450" /></a> <%=@desserts[0][:name]%>
  <a target= _blank href="<%=@desserts[1][:link]%>"><img src="<%=@desserts[1][:image]%>" width="500" height="450" /></a> <%=@desserts[1][:name]%>
  </body>
</html>
